@use "variables";
@use "sass:color";
@mixin list(
	$cont-title,
	$cont-backgr,
	$cont-border,
	$li-title,
	$li-backgr,
	$li-border
) {
	padding: 2em;
	border: 3px solid $cont-border;
	margin-top: 2em;
	border-radius: 1em;
	background-color: $cont-backgr;

	@media (max-width: 290px) {
		padding: 2em 0.75em;
	}

	h2 {
		margin: 0;
		color: $cont-title;
	}
	ul {
		list-style-type: none;
		display: grid;
		grid-template-columns: repeat(2, 1fr);

		@media (max-width: 420px) {
			grid-template-columns: 1fr;
		}

		gap: 1.5em;
		padding: 0;
		li {
			background-color: white;
			padding: 1em;
			border: 3px solid $li-border;
			border-radius: 0.5em;
			cursor: pointer;
			&:hover {
				background-color: $li-backgr;
			}
			h3 {
				margin: 0;
				color: $li-title;
			}
			div.list-preview {
				margin: 0.5em;
			}
			&.completed {
				opacity: 0.5;
			}
		}
	}
}

div.dashboard-container {
	user-select: none;
	div.potd-container {
		cursor: pointer;
		padding: 2em;
		border: 3px solid
			color.adjust(variables.$color7, $lightness: 0, $saturation: 30);
		border-radius: 1em;
		&:hover {
			background-color: color.adjust(variables.$color7, $lightness: 28);
		}
		h2 {
			margin: 0;
			color: color.adjust(variables.$color7, $lightness: -40);
		}
		div.potd-preview {
			margin: 2em;
		}
	}
	div.puzzle-list-container {
		@include list(
			color.adjust(variables.$color10, $lightness: -55),
			color.adjust(variables.$color12, $lightness: 6),
			color.adjust(variables.$color10, $lightness: -15),
			color.adjust(variables.$color7, $lightness: -40),
			color.adjust(variables.$color7, $lightness: 23),
			color.adjust(variables.$color7, $lightness: 0, $saturation: 30)
		);
	}
}

div.instance-list-container {
	@include list(
		color.adjust(variables.$color7, $lightness: -40),
		color.adjust(variables.$color7, $lightness: 28),
		color.adjust(variables.$color7, $lightness: 0, $saturation: 30),
		color.adjust(variables.$color3, $lightness: -40),
		color.adjust(variables.$color3, $lightness: 30),
		color.adjust(variables.$color3, $lightness: -25)
	);
	ul {
		grid-auto-flow: column;
		@media (max-width: 420px) {
			grid-auto-flow: row;
		}
	}
}
