@use "variables";
@use "sass:color";

div.light.category-container {
	display: grid;
	max-height: 85vh;
	max-width: 90vw;
	&.small,
	&.smallx {
		grid-template-rows: 5fr 1fr;
		height: 18em;
	}

	&.medium,
	&.mediumx {
		grid-template-rows: 7fr 1fr;
		height: 23em;
	}

	&.large,
	&.largex {
		grid-template-rows: 12fr 1fr;
	}
	align-items: center;
	justify-items: center;

	div.selector-container {
		display: flex;
		align-items: center;
		align-self: center;

		button.selector {
			margin: 0.5em;
			cursor: pointer;

			&:focus {
				outline: none;
			}

			&.next,
			&.previous {
				border: none;
				padding: 0.3em 0.5em;
				border-radius: 0.3em;
				background-color: color.adjust(
					variables.$color10,
					$lightness: -25
				);
				color: white;
			}

			@media (hover: hover) {
				&.active:hover {
					color: color.adjust(variables.$color10, $lightness: -35);
					background-color: color.adjust(
						variables.$color10,
						$lightness: 15
					);
				}
			}

			&.instance {
				height: 1em;
				width: 1em;
				border-radius: 1em;
				border: none;
				background-color: variables.$color10;

				&.selected {
					background-color: color.adjust(
						variables.$color10,
						$lightness: -30
					);
				}
			}

			&.inactive {
				opacity: 0.3;
				cursor: default;
			}
		}
	}
}

div.light-puzzle-container {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	div.light-grid {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;

		div.grid-row {
			display: flex;
			align-items: center;
			justify-content: center;

			div.light-square {
				height: 4em;
				width: 4em;
				margin: 0.5em;
				border-radius: 1em;

				@media (max-width: 420px) {
					height: 2.6em;
					width: 2.6em;
					margin: 0.3em;
					border-radius: 0.75em;
				}
				cursor: pointer;

				&.active {
					background-color: color.adjust(
						variables.$color3,
						$lightness: 20
					);
				}

				&.inactive {
					background-color: #000;
				}
			}
		}
	}

	div.controller {
		height: 4em;
		display: flex;
		align-items: center;
		svg.nav-button {
			fill: color.adjust(variables.$color3, $lightness: -25);
			cursor: pointer;
			user-select: none;

			&.jump {
				height: 2em;
				width: 2em;
			}
			&.step {
				height: 3em;
				width: 3em;
			}

			@media (hover: hover) {
				&:hover {
					fill: color.adjust(variables.$color3, $lightness: 15);
				}
			}

			&[isactive="false"] {
				cursor: default;
				fill: #ddd;
			}
		}
	}

	div.saving-indicator {
		margin-top: -2.7em;
		padding-left: 20em;
		color: #aaa;
		z-index: -1;
		font-size: 0.8em;

		@media (max-width: 420px) {
			padding-left: 12em;
			margin-top: -0.75em;
		}
	}

	div.moves-indicator {
		align-self: flex-start;

		span.moves {
			color: variables.$color3;
		}
	}
}
