@use "variables";
@use "sass:color";

div.light-puzzle-container {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	div.light-grid {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;

		div.grid-row {
			display: flex;
			align-items: center;
			justify-content: center;

			div.light-square {
				height: 4em;
				width: 4em;
				margin: 0.5em;
				border-radius: 1em;
				cursor: pointer;

				&.active {
					background-color: variables.$color10;
				}

				&.inactive {
					background-color: #000;
				}
			}
		}
	}

	div.controller {
		height: 4em;
		display: flex;
		align-items: center;
		svg.nav-button {
			fill: color.adjust(variables.$color3, $lightness: -25);
			cursor: pointer;
			user-select: none;

			&.jump {
				height: 2em;
				width: 2em;
			}
			&.step {
				height: 3em;
				width: 3em;
			}

			@media (hover: hover) {
				&:hover {
					fill: color.adjust(variables.$color3, $lightness: 15);
				}
			}

			&[isactive="false"] {
				cursor: default;
				fill: #ddd;
			}
		}
	}

	div.saving-indicator {
		margin-top: -2.7em;
		padding-left: 20em;
		color: #888;
		z-index: -1;
	}
}
