@use "variables";

div.login-container {
	height: 90vh;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;

	div.login-window {
		display: grid;
		padding: 2em;
		grid-template-areas:
			"error     error"
			"firstname firstname"
			"lastname  lastname"
			"create    login";
		border: 3px solid variables.$color10;
		border-radius: 1em;
		position: relative;
		overflow: hidden;

		div.fetching-indicator {
			position: absolute;
			display: flex;
			align-items: center;
			justify-content: center;
			background-color: #fffd;
			width: 100%;
			height: 100%;
		}

		p.login-error {
			grid-area: error;
			margin-top: -1em;

			@media (max-width: 420px){
				margin-top: -0.5em;
				margin-bottom: 0;
			}

			font-size: 0.7em;
			color: red;
		}

		div.name-container {
			margin: 0.5em;
			display: flex;
			justify-content: space-between;
			&.first {
				grid-area: firstname;
			}

			&.last {
				grid-area: lastname;
			}

			input {
				margin-left: 0.5em;
				user-select: all;

				&:focus {
					outline: none;
				}
			}
		}

		button {
			margin: 1em;
			margin-bottom: 0;
			padding: 0.7em;
			cursor: pointer;
			border: none;
			border-radius: 0.3em;

			&:focus {
				outline: none;
			}

			&.create-student {
				grid-area: create;
				background-color: variables.$color4;
			}
			&.login-student {
				grid-area: login;
				background-color: variables.$color10;
			}
		}

		@media (max-width: 420px) {
			padding: 0.5em;
			div.name-container{
				font-size: 0.7em;
				input{
					display: block;
				}
			}

			button{
				font-size: 0.7em;
			}
		}
	}
}
