@use "variables";
@use "sass:color";

div.matchstick.puzzle-container {
	display: flex;
	flex-direction: column;
	align-items: center;

	div.display-container {
		position: relative;
		canvas {
			height: 90vw;
			width: 90vw;
			border: solid 2px variables.$color10;
			border-radius: 3vw;

			&.selecting {
				cursor: pointer;
			}
		}

		svg.nav-button.reset {
			fill: color.adjust(variables.$color3, $lightness: -25);
			cursor: pointer;
			user-select: none;
			position: absolute;
			top: 5vw;
			left: 5vw;
			height: 2.5em;
			width: 2.5em;
			z-index: 1;

			@media (max-width: 420px){
				height: 2em;
				width: 2em;
			}

			@media (hover: hover) {
				&:hover {
					fill: color.adjust(variables.$color3, $lightness: 15);
				}
			}

			&[isactive="false"] {
				cursor: default;
				fill: #ddd;
			}
		}

		div.saving-indicator {
			position: absolute;
			right: 5vw;
			bottom: 5vw;
			color: #888;
			z-index: -1;
		}
	}
}
