@use "variables";
@use "sass:color";

div.matchstick.puzzle-container {
	display: flex;
	flex-direction: column;
	align-items: center;

	canvas {
		height: 90vw;
		width: 90vw;
		border: solid 2px variables.$color10;
		border-radius: 3vw;

		&.selecting {
			cursor: pointer;
		}
	}

	svg.nav-button.reset {
		fill: color.adjust(variables.$color3, $lightness: -25);
		cursor: pointer;
		user-select: none;
		height: 2.5em;
		width: 2.5em;
		align-self: flex-start;
		margin: 2vw 0 -7vw 3vw;
		z-index: 1;

		@media (hover: hover) {
			&:hover {
				fill: color.adjust(variables.$color3, $lightness: 15);
			}
		}

		&[isactive="false"] {
			cursor: default;
			fill: #ddd;
		}
	}

	div.saving-indicator {
		align-self: flex-end;
		margin: -5vw 5vw 0 0;
		color: #888;
		z-index: -1;
	}
}
