$color0: #3f2fa5;
$color1: #5038bc;
$color2: #6146d9;
$color3: #7354f4;
$color4: #7e6cfb;
$color5: #7e84f3;
$color6: #7d99ed;
$color7: #77ade6;
$color8: #70c2df;
$color9: #70c2df;
$color10: #9edfe5;
$color11: #c3ebef;
$color12: #ddf3f5;
$color13: #f4fbfc;