@use "variables";
@use "sass:color";
@use "./home";

$base-dimension: 30em;

@mixin puzzle-container($puzzle-size) {
	$puzzle-dimension: $base-dimension * $puzzle-size/ 4;
	div.grid-container {
		display: grid;
		height: $puzzle-dimension;
		width: $puzzle-dimension;
		gap: 1px;
		background-color: black;
		border: solid 3px;
		grid-template-columns: repeat($puzzle-size, 1fr);
		grid-template-rows: repeat($puzzle-size, 1fr);

		div.calcudoku-square {
			position: relative;
			background-color: white;
			box-sizing: border-box;
			padding: 0.5em;
			border: solid 2px;
			cursor: pointer;

			&.active {
				background-color: #e5e5e5;
			}
			&.n-up {
				border-top: none;
			}
			&.n-down {
				border-bottom: none;
			}
			&.n-right {
				border-right: none;
			}
			&.n-left {
				border-left: none;
			}

			div.cage-indicator {
				position: absolute;
				top: 0.2em;
				left: 0.2em;
			}
			input {
				border: none;
				box-sizing: border-box;
				width: 100%;
				height: 100%;
				font-size: 4em;
				text-align: right;
				cursor: pointer;
				&::-webkit-inner-spin-button,
				&::-webkit-outer-spin-button {
					-webkit-appearance: none;
					margin: 0;
				}
				&:focus {
					outline: none;
				}
			}
		}
	}

	div.number-select-container {
		width: $puzzle-dimension;
		display: flex;
		justify-content: space-evenly;
		padding: 1em;
		box-sizing: border-box;

		button {
			font-size: 3em;
			padding: 0.15em 0.5em;
			cursor: pointer;
		}
	}
}

div.puzzle-container {
	&[size="4"] {
		@include puzzle-container(4);
	}

	&[size="5"] {
		@include puzzle-container(5);
	}

	&[size="6"] {
		@include puzzle-container(6);
	}
}

div.instance-list-container {
	@include home.list(
		color.adjust(variables.$color3, $lightness: -10),
		color.adjust(variables.$color3, $lightness: 30),
		variables.$color3,
		color.adjust(variables.$color7, $lightness: -35),
		color.adjust(variables.$color7, $lightness: 28),
		variables.$color7
	);
}
