@use "variables";
@use "sass:color";
@use "./home";

$base-dimension: 30em;
$scaling-420px: 1 / 2;

h2.loading-indicator{
	text-align: center;
}

@mixin puzzle-container($puzzle-size, $instructionScale) {
	$puzzle-dimension: $base-dimension * $puzzle-size / 4 * $instructionScale;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 2em;
	div.saving-indicator {
		padding-left: 1em;
		width: $puzzle-dimension;
		@media (max-width: 420px) {
			width: $puzzle-dimension * 3 / 4;
			font-size: 0.7em;
			padding-left: 1em;
		}

		text-align: left;
		margin-bottom: 0.3em;
		color: #888;
	}
	div.grid-container {
		display: grid;
		height: $puzzle-dimension;
		width: $puzzle-dimension;
		@media (max-width: 420px) {
			height: $puzzle-dimension * $scaling-420px;
			width: $puzzle-dimension * $scaling-420px;
		}
		gap: 1px;
		background-color: black;
		border: solid 3px;
		grid-template-columns: repeat($puzzle-size, 1fr);
		grid-template-rows: repeat($puzzle-size, 1fr);

		div.calcudoku-square {
			position: relative;
			background-color: white;
			box-sizing: border-box;
			padding: 0.5em;
			border: solid 2px;
			@media (max-width: 420px) {
				border: solid 2px * $scaling-420px;
			}
			cursor: pointer;

			&.active {
				background-color: #e5e5e5;
			}
			&.n-up {
				border-top: none;
			}
			&.n-down {
				border-bottom: none;
			}
			&.n-right {
				border-right: none;
			}
			&.n-left {
				border-left: none;
			}

			div.cage-indicator {
				position: absolute;
				top: 0.2em;
				left: 0.2em;
			}
			input {
				border: none;
				box-sizing: border-box;
				width: 100%;
				height: 100%;
				font-size: 4em * $instructionScale;
				@media (max-width: 420px) {
					font-size: 4em * $scaling-420px;
				}
				text-align: right;
				cursor: pointer;
				&::-webkit-inner-spin-button,
				&::-webkit-outer-spin-button {
					-webkit-appearance: none;
					margin: 0;
				}
				&:focus {
					outline: none;
				}
			}
		}
	}

	div.number-select-container {
		width: $puzzle-dimension;
		@media (max-width: 420px) {
			width: $puzzle-dimension * $scaling-420px;
		}
		display: flex;
		justify-content: space-evenly;
		padding: 1em;
		box-sizing: border-box;

		button {
			font-size: 3em;
			@media (max-width: 420px) {
				font-size: 3em * $scaling-420px;
			}
			padding: 0.15em 0.5em;
			cursor: pointer;
		}
	}
}

div.puzzle-container {
	&[size="4"] {
		@include puzzle-container(4, 1);
	}

	&[size="5"] {
		@include puzzle-container(5, 1);
	}

	&[size="6"] {
		@include puzzle-container(6, 1);
	}

	&.instructions {
		@include puzzle-container(4, 1 / 2);
	}
}

div.instance-list-container {
	@include home.list(
		color.adjust(variables.$color3, $lightness: -20, $saturation: -30),
		color.adjust(variables.$color3, $lightness: 30, $saturation: -30),
		color.adjust(variables.$color3, $saturation: -30),
		color.adjust(variables.$color7, $lightness: -35),
		color.adjust(variables.$color7, $lightness: 28),
		variables.$color7
	);
}

div.calcudoku-instructions {
	display: flex;
	flex-direction: column;
	button.try-it {
		margin: 1em;
		margin-bottom: 0;
		padding: 0.7em;
		cursor: pointer;
		border: none;
		border-radius: 0.3em;
		font-size: 1.5em;
		background-color: variables.$color4;
		align-self: center;

		&:focus {
			outline: none;
		}

		&:hover {
			margin-top: 0.8em;
			border-radius: 0.4em;
			background-color: color.adjust(variables.$color4, $lightness: 25);
			color: color.adjust(variables.$color4, $lightness: -5);
			border: solid 0.2em color.adjust(variables.$color4, $lightness: 0);
		}
	}
}
