@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap");
div.login-container {
  height: 90vh;
  width: 90vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
div.login-container div.login-window {
  display: grid;
  padding: 2em;
  grid-template-areas: "firstname firstname" "lastname  lastname" "create    login";
  border: 3px solid #9edfe5;
  border-radius: 1em;
}
div.login-container div.login-window div.name-container {
  margin: 0.5em;
  display: flex;
  justify-content: space-between;
}
div.login-container div.login-window div.name-container.first {
  grid-area: firstname;
}
div.login-container div.login-window div.name-container.last {
  grid-area: lastname;
}
div.login-container div.login-window div.name-container input {
  margin-left: 0.5em;
}
div.login-container div.login-window div.name-container input:focus {
  outline: none;
}
div.login-container div.login-window button {
  margin: 1em;
  margin-bottom: 0;
  padding: 0.7em;
  cursor: pointer;
  border: none;
  border-radius: 0.3em;
}
div.login-container div.login-window button.create-student {
  grid-area: create;
  background-color: #7e6cfb;
}
div.login-container div.login-window button.login-student {
  grid-area: login;
  background-color: #9edfe5;
}

div.dashboard-container {
  user-select: none;
}
div.dashboard-container div.potd-container {
  cursor: pointer;
  padding: 2em;
  border: 3px solid #77ade6;
  border-radius: 1em;
}
div.dashboard-container div.potd-container:hover {
  background-color: #f0f6fc;
}
div.dashboard-container div.potd-container h2 {
  margin: 0;
  color: #1a5490;
}
div.dashboard-container div.potd-container div.potd-preview {
  margin: 2em;
}
div.dashboard-container div.puzzle-list-container {
  padding: 2em;
  border: 3px solid #9edfe5;
  margin-top: 2em;
  border-radius: 1em;
  background-color: #ddf3f5;
  /*padding: 2em;
  border: 3px solid variables.$color10;
  margin-top: 2em;
  border-radius: 1em;
  background-color: variables.$color12;
  h2 {
  	margin: 0;
  	color: color.adjust(variables.$color10, $lightness: -55);
  }
  ul {
  	list-style-type: none;
  	display: grid;
  	grid-template-columns: repeat(2, 1fr);
  	grid-auto-rows: auto;
  	gap: 1.5em;
  	padding: 0;
  	li {
  		background-color: white;
  		padding: 1em;
  		border: 3px solid variables.$color3;
  		border-radius: 0.5em;
  		cursor: pointer;
  		&:hover {
  			background-color: color.adjust(
  				variables.$color3,
  				$lightness: 30
  			);
  		}
  		h3 {
  			margin: 0;
  			color: color.adjust(variables.$color3, $lightness: -35);
  		}
  		div.list-preview {
  			margin: 0.5em;
  		}
  	}
  }*/
}
div.dashboard-container div.puzzle-list-container h2 {
  margin: 0;
  color: #174f54;
}
div.dashboard-container div.puzzle-list-container ul {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: auto;
  gap: 1.5em;
  padding: 0;
}
div.dashboard-container div.puzzle-list-container ul li {
  background-color: white;
  padding: 1em;
  border: 3px solid #7354f4;
  border-radius: 0.5em;
  cursor: pointer;
}
div.dashboard-container div.puzzle-list-container ul li:hover {
  background-color: #e9e4fd;
}
div.dashboard-container div.puzzle-list-container ul li h3 {
  margin: 0;
  color: #174f54;
}
div.dashboard-container div.puzzle-list-container ul li div.list-preview {
  margin: 0.5em;
}

div.puzzle-container[size="4"] {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em;
}
div.puzzle-container[size="4"] div.grid-container {
  display: grid;
  height: 30em;
  width: 30em;
  gap: 1px;
  background-color: black;
  border: solid 3px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
}
div.puzzle-container[size="4"] div.grid-container div.calcudoku-square {
  position: relative;
  background-color: white;
  box-sizing: border-box;
  padding: 0.5em;
  border: solid 2px;
  cursor: pointer;
}
div.puzzle-container[size="4"] div.grid-container div.calcudoku-square.active {
  background-color: #e5e5e5;
}
div.puzzle-container[size="4"] div.grid-container div.calcudoku-square.n-up {
  border-top: none;
}
div.puzzle-container[size="4"] div.grid-container div.calcudoku-square.n-down {
  border-bottom: none;
}
div.puzzle-container[size="4"] div.grid-container div.calcudoku-square.n-right {
  border-right: none;
}
div.puzzle-container[size="4"] div.grid-container div.calcudoku-square.n-left {
  border-left: none;
}
div.puzzle-container[size="4"] div.grid-container div.calcudoku-square div.cage-indicator {
  position: absolute;
  top: 0.2em;
  left: 0.2em;
}
div.puzzle-container[size="4"] div.grid-container div.calcudoku-square input {
  border: none;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  font-size: 4em;
  text-align: right;
  cursor: pointer;
}
div.puzzle-container[size="4"] div.grid-container div.calcudoku-square input::-webkit-inner-spin-button, div.puzzle-container[size="4"] div.grid-container div.calcudoku-square input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
div.puzzle-container[size="4"] div.grid-container div.calcudoku-square input:focus {
  outline: none;
}
div.puzzle-container[size="4"] div.number-select-container {
  width: 30em;
  display: flex;
  justify-content: space-evenly;
  padding: 1em;
  box-sizing: border-box;
}
div.puzzle-container[size="4"] div.number-select-container button {
  font-size: 3em;
  padding: 0.15em 0.5em;
  cursor: pointer;
}
div.puzzle-container[size="5"] {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em;
}
div.puzzle-container[size="5"] div.grid-container {
  display: grid;
  height: 37.5em;
  width: 37.5em;
  gap: 1px;
  background-color: black;
  border: solid 3px;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
}
div.puzzle-container[size="5"] div.grid-container div.calcudoku-square {
  position: relative;
  background-color: white;
  box-sizing: border-box;
  padding: 0.5em;
  border: solid 2px;
  cursor: pointer;
}
div.puzzle-container[size="5"] div.grid-container div.calcudoku-square.active {
  background-color: #e5e5e5;
}
div.puzzle-container[size="5"] div.grid-container div.calcudoku-square.n-up {
  border-top: none;
}
div.puzzle-container[size="5"] div.grid-container div.calcudoku-square.n-down {
  border-bottom: none;
}
div.puzzle-container[size="5"] div.grid-container div.calcudoku-square.n-right {
  border-right: none;
}
div.puzzle-container[size="5"] div.grid-container div.calcudoku-square.n-left {
  border-left: none;
}
div.puzzle-container[size="5"] div.grid-container div.calcudoku-square div.cage-indicator {
  position: absolute;
  top: 0.2em;
  left: 0.2em;
}
div.puzzle-container[size="5"] div.grid-container div.calcudoku-square input {
  border: none;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  font-size: 4em;
  text-align: right;
  cursor: pointer;
}
div.puzzle-container[size="5"] div.grid-container div.calcudoku-square input::-webkit-inner-spin-button, div.puzzle-container[size="5"] div.grid-container div.calcudoku-square input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
div.puzzle-container[size="5"] div.grid-container div.calcudoku-square input:focus {
  outline: none;
}
div.puzzle-container[size="5"] div.number-select-container {
  width: 37.5em;
  display: flex;
  justify-content: space-evenly;
  padding: 1em;
  box-sizing: border-box;
}
div.puzzle-container[size="5"] div.number-select-container button {
  font-size: 3em;
  padding: 0.15em 0.5em;
  cursor: pointer;
}
div.puzzle-container[size="6"] {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em;
}
div.puzzle-container[size="6"] div.grid-container {
  display: grid;
  height: 45em;
  width: 45em;
  gap: 1px;
  background-color: black;
  border: solid 3px;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
}
div.puzzle-container[size="6"] div.grid-container div.calcudoku-square {
  position: relative;
  background-color: white;
  box-sizing: border-box;
  padding: 0.5em;
  border: solid 2px;
  cursor: pointer;
}
div.puzzle-container[size="6"] div.grid-container div.calcudoku-square.active {
  background-color: #e5e5e5;
}
div.puzzle-container[size="6"] div.grid-container div.calcudoku-square.n-up {
  border-top: none;
}
div.puzzle-container[size="6"] div.grid-container div.calcudoku-square.n-down {
  border-bottom: none;
}
div.puzzle-container[size="6"] div.grid-container div.calcudoku-square.n-right {
  border-right: none;
}
div.puzzle-container[size="6"] div.grid-container div.calcudoku-square.n-left {
  border-left: none;
}
div.puzzle-container[size="6"] div.grid-container div.calcudoku-square div.cage-indicator {
  position: absolute;
  top: 0.2em;
  left: 0.2em;
}
div.puzzle-container[size="6"] div.grid-container div.calcudoku-square input {
  border: none;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  font-size: 4em;
  text-align: right;
  cursor: pointer;
}
div.puzzle-container[size="6"] div.grid-container div.calcudoku-square input::-webkit-inner-spin-button, div.puzzle-container[size="6"] div.grid-container div.calcudoku-square input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
div.puzzle-container[size="6"] div.grid-container div.calcudoku-square input:focus {
  outline: none;
}
div.puzzle-container[size="6"] div.number-select-container {
  width: 45em;
  display: flex;
  justify-content: space-evenly;
  padding: 1em;
  box-sizing: border-box;
}
div.puzzle-container[size="6"] div.number-select-container button {
  font-size: 3em;
  padding: 0.15em 0.5em;
  cursor: pointer;
}

div.instance-list-container {
  padding: 2em;
  border: 3px solid #7354f4;
  margin-top: 2em;
  border-radius: 1em;
  background-color: #e9e4fd;
}
div.instance-list-container h2 {
  margin: 0;
  color: #4c24f1;
}
div.instance-list-container ul {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: auto;
  gap: 1.5em;
  padding: 0;
}
div.instance-list-container ul li {
  background-color: white;
  padding: 1em;
  border: 3px solid #77ade6;
  border-radius: 0.5em;
  cursor: pointer;
}
div.instance-list-container ul li:hover {
  background-color: #f0f6fc;
}
div.instance-list-container ul li h3 {
  margin: 0;
  color: #1a5490;
}
div.instance-list-container ul li div.list-preview {
  margin: 0.5em;
}

* {
  font-family: "Open Sans", sans-serif;
  user-select: none;
}

body {
  padding: 1.5em;
  padding-top: 0.5em;
}

div.profile-bar {
  position: relative;
  display: flex;
  justify-content: flex-end;
  right: 0;
  padding: 0.5em;
}
div.profile-bar span.student-name {
  color: #2c9aa4;
  margin-right: 0.5em;
}
div.profile-bar button.log-out {
  border: none;
  border-radius: 0.2em;
  color: white;
  background-color: #39beca;
  cursor: pointer;
}
div.profile-bar button.log-out:hover {
  color: #2c9aa4;
  background-color: #daf3f5;
}

/*# sourceMappingURL=index.css.map */
