@use "./login";
@use "./home";
@use "./calcudoku";

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap");
* {
	font-family: "Open Sans", sans-serif;
}

body {
	padding: 1.5em;
	padding-top: 0.5em;
}
