@use "variables";
@use "sass:color";
@use "./login";
@use "./home";
@use "./calcudoku";

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap");
* {
	font-family: "Open Sans", sans-serif;
	user-select: none;
}

body {
	padding: 1.5em;
	padding-top: 0.5em;
}

nav.main-nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0.3em;

	button {
		border: none;
		border-radius: 0.2em;
		color: white;
		cursor: pointer;
		background-color: color.adjust(variables.$color10, $lightness: -25);

		&:hover {
			color: color.adjust(variables.$color10, $lightness: -35);
			background-color: color.adjust(variables.$color10, $lightness: 15);
		}

		&:focus {
			outline: none;
		}
	}

	div.profile-bar {
		position: relative;
		display: flex;
		justify-content: flex-end;
		right: 0;
		padding: 0.5em;

		span.student-name {
			color: color.adjust(variables.$color10, $lightness: -35);
			margin-right: 0.5em;
		}
		button.log-out {
			background-color: color.adjust(variables.$color10, $lightness: -25);

			&:hover {
				color: color.adjust(variables.$color10, $lightness: -35);
				background-color: color.adjust(
					variables.$color10,
					$lightness: 15
				);
			}
		}
	}

	button.back-button{
		font-size: 1em;
	}
}
